<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#f76497">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/images/favicon.png" />
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/style.min.css" />
	  <link rel="canonical" href="https://muhammad-sohel-khan.github.io/" />
<meta name="author" content="Muhammad Sohel Khan">
<meta name="copyright" content="Muhammad Sohel Khan">
<meta name="robots" content="all">
<meta property="article:author" content="https://www.facebook.com/Muhammad.Sohel.Khan.Sohel" />
<meta property="og:site_name" content="nahklehos.github.io">
<meta property="og:title" content="Muhammad Sohel Khan's Portfolio">
<meta property="og:description" content="Muhammad Sohel Khan is a Singer, YouTuber, Dancer and lead vocalist of “Nahk -The Band” with a very strong, loyal and fast-growing fan following on YouTube and Instagram. He has created multiple videos, each being huge hits. Muhammad Sohel Khan developed his passion for music early in life. Sohel’s work has been appreciated by many and has been published in top publication houses. Along with being professional singer, he is also trained in dance. He has done various musical concerts across the country. As a singer and composer Muhammad Sohel Khan is known for his work in the Film and Entertainment Industry.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://muhammad-sohel-khan.gitub.io">
<meta property="og:image" content="https://muhammad-sohel-khan.github.io/assets/images/sohel13.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@MuhammadSohel_K">
<meta name="twitter:creator" content="@MuhammadSohel_K">
<meta name="twitter:title" content="muhammad-sohel-khan.github.io">
<meta name="twitter:domain" content="https://muhammad-sohel-khan.github.io">
<meta name="twitter:description" content="Muhammad Sohel Khan is a Singer, YouTuber, Dancer and lead vocalist of “Nahk -The Band” with a very strong, loyal and fast-growing fan following on YouTube and Instagram. He has created multiple videos, each being huge hits. Muhammad Sohel Khan developed his passion for music early in life. Sohel’s work has been appreciated by many and has been published in top publication houses. Along with being professional singer, he is also trained in dance. He has done various musical concerts across the country. As a singer and composer Muhammad Sohel Khan is known for his work in the Film and Entertainment Industry.">
<meta name="twitter:image" content="https://muhammad-sohel-khan.github.io/assets/images/sohel13.jpg">

<script type='text/javascript'>
  var fired = false;
  window.addEventListener("scroll", function(){
    if ((document.documentElement.scrollTop != 0 && fired === false) || (document.body.scrollTop != 0 && fired === false)) {
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
             })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-197084362-1', 'auto');
          ga('send', 'pageview');
        fired = true;
      }
  }, true);
</script>
	  
	  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M74672D');</script>
<!-- End Google Tag Manager -->
 


<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "https://muhammad-sohel-khan.github.io/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://query.muhammad-sohel-khan.github.io/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
    </script>

  </head>
  <body> 
	  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M74672D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <header>
        <figure class="brand">Muhammad Sohel Khan</figure>
        <nav class="menu">
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon"><i class="fas fa-bars"></i></label>
            <ul>   
                   <li><a  href="/"><i class="fas fa-home"></i> Home</a> </li>
                   <li><a  href="/youtube">Musics</a></li>
                   <li><a  href="/imgs">Pictures</a></li>
                   <li> <a  href="/#"> blog</a> </li>
            </ul>
        </nav>
    </header>
    <main>     

              <h1 style="text-align: center;"> {{ page.header }} </h1>
                        {{ page.description }}
                              {{ content }}
        <p style="text-align:center;">  <a href="https://facebook.com/nahklehos" aria-label="Facebook" class="fab fa-facebook fa-2x"></a>
       <a href="https://twitter.com/MuhammadSohel_K/" aria-label="Twitter" class="fab fa-twitter fa-2x"></a>
       <a href="https://instagram.com/muhammad_sohel_khan/" aria-label="Instagram" class="fab fa-instagram fa-2x"></a>
      <a href="https://linkedin.com/in/MuhammadSohelKhan" aria-label="Linkedin" class="fab fa-linkedin fa-2x"></a>
       </p>
    </main>     
    <footer>
      <p>Muhammad Sohel Khan©2021</p>
    </footer>
  </body>
</html>
<script type="application/ld+json">
{"@context":"http://schema.org",
"@type":"Person",
"familyName":"Khan",
"givenName":"Muhammad Sohel",
"url":"https://nahklehos.github.io",
"email":"nahklehos1@gmail.com",
"nationality":"Bangladeshi",
"birthDate":"07/12/1992",
"parent":[{"@type":"Person","gender":"Male","name":"MD Firoz Hossan Khan"},
{"@type":"Person","gender":"Female","name":"KaKoli Begum"}],
"gender":"Male",
"jobTitle":"Musical Artist",
"image":"http://muhammad-sohel-khan.github.io/assets/images/sohel13.jpg",
"description":"Muhammad Sohel Khan is a Singer, YouTuber, Dancer and lead vocalist of “Nahk -The Band” with a very strong, loyal and fast-growing fan following on YouTube and Instagram. He has created multiple videos, each being huge hits. Muhammad Sohel Khan developed his passion for music early in life. Sohel’s work has been appreciated by many and has been published in top publication houses. Along with being professional singer, he is also trained in dance. He has done various musical concerts across the country. As a singer and composer Muhammad Sohel Khan is known for his work in the Film and Entertainment Industry.",
"sameAs":["https://www.bing.com/public/MuhammadSohel_K",
"https://www.google.com/search?q=muhammad+sohel+khan",
"https://www.youtube.com/channel/UCobo4mWFM8fcbSILUSuCNEg",
"https://en.wikipedia.org/wiki/User:Muhammad_Sohel_Khan",
"https://www.linkedin.com/in/MuhammadSohelKhan",
"https://twitter.com/MuhammadSohel_K",
"https://www.facebook.com/Muhammad.Sohel.Khan.Sohel",
"https://github.com/muhammad-sohel-khan",
"https://codepen.io/muhammad-sohel-khan"]}
</script>
